<div class="container">
  <section class="hero">
    <h1 class="hero-title">
      Discover the joy of learning
      <span class="hero-title-accent">English</span> with us!
    </h1>
    <a href="#contact" class="button button--hero">Leave an application</a>
    <a
      href="#footer"
      class="hero-scroll-btn"
      aria-label="Scroll to footer button"
    >
      <svg
        class="hero-scroll-btn-icon"
        width="20"
        height="20"
        aria-hidden="true"
      >
        <use href="./img/sprite.svg#arrow-down"></use>
      </svg>
    </a>
  </section>
</div>
