<div class="container">
  <section class="proposal">
    <h2 class="visually-hidden">Proposal to leave an application</h2>

    <div class="proposal-body">
      <p class="proposal-slogan">Master the <span class="proposal-slogan-accent">Language</span> with Our English Package!</p>

      <div class="proposal-card">
        <div class="proposal-content">
          <h3 class="proposal-title">Power of English</h3>

          <ul class="proposal-list">
            <li class="proposal-item">
              <svg class="proposal-icon" width="20" height="20" aria-hidden="true">
                <use href="./img/sprite.svg#check"></use>
              </svg>
              <p class="proposal-text">
                Dive into captivating lessons designed to stimulate your curiosity.
              </p>
            </li>
            <li class="proposal-item">
              <svg class="proposal-icon" width="20" height="20" aria-hidden="true">
                <use href="./img/sprite.svg#check"></use>
              </svg>
              <p class="proposal-text">
                Learn in a nurturing setting where every student's progress matters.
              </p>
            </li>
            <li class="proposal-item">
              <svg class="proposal-icon" width="20" height="20" aria-hidden="true">
                <use href="./img/sprite.svg#check"></use>
              </svg>
              <p class="proposal-text">
                Experience the satisfaction of real progress as your language skills
                and confidence grow with every session.
              </p>
            </li>
          </ul>

          <a class="button proposal-button" href="#contact">Leave an application</a>
        </div>

        <picture class="proposal-picture">
          <source
            srcset="img/proposal/books@1x.webp 1x, img/proposal/books@2x.webp 2x"
            type="image/webp"
          />
          <img
            src="img/proposal/books@1x.png"
            srcset="img/proposal/books@1x.png 1x, img/proposal/books@2x.png 2x"
            width="214"
            height="263"
            alt="Stack of colorful books"
            loading="lazy"
            class="proposal-image"
          />
        </picture>
      </div>
    </div>
  </section>
</div>
