<section class="section reviews" id="reviews">
  <div class="container">
    <h2 class="section-title section-title--reviews">
      What our <span class="accent-line">students</span> say
    </h2>
    <p class="section-description">
      Hear from our students about their learning journey with us, as they share
      their experiences, progress, and the transformative impact
    </p>

    <ul class="reviews-list">
      <li class="reviews-item">
        <div class="reviews-author">
          <picture>
            <source
              srcset="
                ./img/reviews/student-1@1x.webp 1x,
                ./img/reviews/student-1@2x.webp 2x
              "
              type="image/webp"
            />
            <img
              class="reviews-avatar"
              src="./img/reviews/student-1@1x.jpg"
              srcset="
                ./img/reviews/student-1@1x.jpg 1x,
                ./img/reviews/student-1@2x.jpg 2x
              "
              alt="Photo of Anna"
              width="50"
              height="50"
              loading="lazy"
            />
          </picture>
          <div class="reviews-author-info">
            <p class="reviews-name">Anna</p>
            <p class="reviews-role">Student</p>
          </div>
        </div>
        <p class="reviews-text">
          My experience at the language school has been nothing short of
          amazing. The teachers are dedicated and the learning environment is
          stimulating. I feel more confident in my English skills.
        </p>
      </li>

      <li class="reviews-item">
        <div class="reviews-author">
          <picture>
            <source
              srcset="
                ./img/reviews/student-2@1x.webp 1x,
                ./img/reviews/student-2@2x.webp 2x
              "
              type="image/webp"
            />
            <img
              class="reviews-avatar"
              src="./img/reviews/student-2@1x.jpg"
              srcset="
                ./img/reviews/student-2@1x.jpg 1x,
                ./img/reviews/student-2@2x.jpg 2x
              "
              alt="Photo of Mykhailo"
              width="50"
              height="50"
              loading="lazy"
            />
          </picture>
          <div class="reviews-author-info">
            <p class="reviews-name">Mykhailo</p>
            <p class="reviews-role">Student</p>
          </div>
        </div>
        <p class="reviews-text">
          The school offers a great balance of language theory and practical
          exercises. The personalized feedback from the teachers has helped me
          improve my weak areas.
        </p>
      </li>

      <li class="reviews-item">
        <div class="reviews-author">
          <picture>
            <source
              srcset="
                ./img/reviews/student-3@1x.webp 1x,
                ./img/reviews/student-3@2x.webp 2x
              "
              type="image/webp"
            />
            <img
              class="reviews-avatar"
              src="./img/reviews/student-3@1x.jpg"
              srcset="
                ./img/reviews/student-3@1x.jpg 1x,
                ./img/reviews/student-3@2x.jpg 2x
              "
              alt="Photo of Victoria"
              width="50"
              height="50"
              loading="lazy"
            />
          </picture>
          <div class="reviews-author-info">
            <p class="reviews-name">Victoria</p>
            <p class="reviews-role">Student</p>
          </div>
        </div>
        <p class="reviews-text">
          I love the dynamic and interactive teaching methods used here. It's a
          great place to learn English in a fun and effective way. I have
          definitely seen a big improvement in my language skills.
        </p>
      </li>
    </ul>
  </div>
</section>
