<section class="section teachers" id="teachers">
  <div class="container">
    <h2 class="section-title section-title--teachers">
      Meet our <span class="accent-line">teachers</span>
    </h2>
    <p class="section-description">
      Discover our team of dedicated educators, committed to guiding you on your
      journey to English proficiency with personalized and engaging instruction
    </p>

    <ul class="teachers-list">
      <li class="teacher-card">
        <picture class="teacher-thumb">
          <source
            type="image/webp"
            srcset="
              ./img/teachers/teacher-1@1x.webp 1x,
              ./img/teachers/teacher-1@2x.webp 2x
            "
          />

          <img
            class="teacher-img"
            src="./img/teachers/teacher-1@1x.jpg"
            srcset="
              ./img/teachers/teacher-1@1x.jpg 1x,
              ./img/teachers/teacher-1@2x.jpg 2x
            "
            width="150"
            height="150"
            alt="Maria's photo"
            loading="lazy"
          />
        </picture>

        <p class="teacher-name">Maria</p>
        <p class="teacher-description">
          A seasoned linguist and our primary specialist in beginner-level
          instruction, Maria brings warmth and patience to every class
        </p>
      </li>
      <li class="teacher-card">
        <picture class="teacher-thumb">
          <source
            type="image/webp"
            srcset="
              ./img/teachers/teacher-2@1x.webp 1x,
              ./img/teachers/teacher-2@2x.webp 2x
            "
          />

          <img
            class="teacher-img"
            src="./img/teachers/teacher-2@1x.jpg"
            srcset="
              ./img/teachers/teacher-2@1x.jpg 1x,
              ./img/teachers/teacher-2@2x.jpg 2x
            "
            width="150"
            height="150"
            alt="Artem's photo"
            loading="lazy"
          />
        </picture>

        <p class="teacher-name">Artem</p>
        <p class="teacher-description">
          With his innovative teaching techniques and a focus on interactive
          learning, Artem excels in keeping students engaged and motivated
        </p>
      </li>
      <li class="teacher-card">
        <picture class="teacher-thumb">
          <source
            type="image/webp"
            srcset="
              ./img/teachers/teacher-3@1x.webp 1x,
              ./img/teachers/teacher-3@2x.webp 2x
            "
          />

          <img
            class="teacher-img"
            src="./img/teachers/teacher-3@1x.jpg"
            srcset="
              ./img/teachers/teacher-3@1x.jpg 1x,
              ./img/teachers/teacher-3@2x.jpg 2x
            "
            width="150"
            height="150"
            alt="Ilona's photo"
            loading="lazy"
          />
        </picture>
        <p class="teacher-name">Ilona</p>
        <p class="teacher-description">
          A specialist in advanced English, Ilona provides intensive
          instruction, ensuring students gain confidence in complex language
          tasks
        </p>
      </li>
      <li class="teacher-card">
        <picture class="teacher-thumb">
          <source
            type="image/webp"
            srcset="
              ./img/teachers/teacher-4@1x.webp 1x,
              ./img/teachers/teacher-4@2x.webp 2x
            "
          />

          <img
            class="teacher-img"
            src="./img/teachers/teacher-4@1x.jpg"
            srcset="
              ./img/teachers/teacher-4@1x.jpg 1x,
              ./img/teachers/teacher-4@2x.jpg 2x
            "
            width="150"
            height="150"
            alt="Volodymyr's photo"
            loading="lazy"
          />
        </picture>
        <p class="teacher-name">Volodymyr</p>
        <p class="teacher-description">
          Our expert in English for specific purposes, Volodymyr tailors his
          approach to meet individual career and industry-specific language
          needs
        </p>
      </li>
    </ul>
  </div>
</section>
