<li class="social-item">
  <a
    href="https://www.facebook.com/goITclub/"
    target="_blank"
    rel="noopener noreferrer"
    class="social-link"
    aria-label="Facebook"
  >
    <svg class="social-icon" width="28" height="28">
      <use href="./img/sprite.svg#facebook"></use>
    </svg>
  </a>
</li>
<li class="social-item">
  <a
    href="https://www.instagram.com/goitclub/"
    target="_blank"
    rel="noopener noreferrer"
    class="social-link"
    aria-label="Instagram"
  >
    <svg class="social-icon" width="28" height="28">
      <use href="./img/sprite.svg#instagram"></use>
    </svg>
  </a>
</li>
<li class="social-item">
  <a
    href="https://www.youtube.com/c/GoIT"
    target="_blank"
    rel="noopener noreferrer"
    class="social-link"
    aria-label="YouTube"
  >
    <svg class="social-icon" width="28" height="28">
      <use href="./img/sprite.svg#youtube"></use>
    </svg>
  </a>
</li>
