<div class="section">
  <div class="container">
    <div class="section-title">Файл ui-kit.html тимчасовий</div>

    <a href="#" class="button">Leave an application</a>
    <button class="button">Leave an application</button>
    <input type="button" class="button" value="Leave an application" />

    <div style="background: #4dc274; padding: 20px; margin: 20px">
      <a href="#" class="button button--reverse">Leave an application</a>
      <button class="button button--reverse">Leave an application</button>
      <input
        type="button"
        class="button button--reverse"
        value="Leave an application"
      />
    </div>

    <div style="background: #fff; padding: 20px; margin: 20px">
      <ul class="socials socials--header">
        <load src="partials/socials.html" />
      </ul>
    </div>
    <div style="background: #121417; padding: 20px; margin: 20px">
      <ul class="socials socials--footer">
        <load src="partials/socials.html" />
      </ul>
    </div>
    <div style="background: #4dc274; padding: 20px; margin: 20px">
      <ul class="socials socials--mobile">
        <load src="partials/socials.html" />
      </ul>
    </div>

    <picture>
      <source
        srcset="img/about/about@1x.webp 1x, img/about/about@2x.webp 2x"
        type="image/webp"
      />
      <img
        src="img/about/about@1x.png"
        srcset="img/about/about@1x.png 1x, img/about/about@2x.png 2x"
        width="254"
        height="211"
        alt="Example alt text"
        loading="lazy"
      />
    </picture>
  </div>
</div>
