.footer {
  background-color: var(--black);
  color: var(--white);
  margin-top: 40px;
}

@media (min-width: 768px) {
  .footer {
    margin-top: 50px;
  }
}

@media (min-width: 1280px) {
  .footer {
    margin-top: 75px;
  }
}
