:root {
  --font: 'Manrope', sans-serif;

  --black: #121417;
  --green: #4dc274;
  --dark-green: #38ae5f;
  --light-green: #d4fde1;
  --accent-green: #bee8cc;
  --gray: #f3f5f6;
  --white: #fff;
  --color-text-muted: rgba(18, 20, 23, 0.5);

  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
